<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary navbar-main">
  <div class="container-fluid">
    <a class="navbar-brand navbar-text" href="/">
      <img style="height: 60px;width:60px ;" src="/css/images/TastyBites-logos_black.png  " alt="Logo">
      <h1 class="navbar-heading">TastyBites</h1>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class=" collapse navbar-collapse navbar-items" id="navbarNavDarkDropdown">
      <ul class="ms-auto navbar-nav other-items-size">
        <li class="nav-item">
          <a class="nav-link home" href="/">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link my-cart" href="/cart">My Cart</a>
        </li>

        <li class="nav-item">
          <a class="nav-link my-cart" href="/auth-login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-cart" href="/auth-signup">SignUp</a>
        </li>

        <div class="dropdown">
          <button>Admin</button>
          <div class="dropdown-content">
            <a href="/admin/add-product">Add Products</a>
            <a href="/admin/products">Products</a>
             <a href="/admin/restaurants">Restaurants Collaborating</a>
          </div>
        </div>
        
        <div class="dropdown">
          <button>Restaurants</button>
          <div class="dropdown-content">
            <a href="/restaurant/add-product">Add Restaurant</a>
            <a href="/restaurant/products">Show Restaurants</a>
         
          </div>
        </div>

       

      </ul>
    </div>
  </div>
</nav>


