@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0px;
  background-image: url("./images/grilled-meat-skewers-chicken-shish-kebab-with-zucchini-tomatoes-red-onions.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5rem;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.navbar-text{
   display: flex;
   justify-content:flex-start;
   /* padding: 0px 10px; */
   border-radius: 1rem;
   background-color:transparent;

   
}

.container-fluid img{
  height: 6rem !important;
  width: 6rem !important;
  outline: none;
  border: none;
  margin : 1.5rem;
  padding-top: 0.5rem;
}

.navbar-heading{
    align-items: center;
    padding-top: 2.8rem !important;
    color: #ffac1c;
    
}

.navbar-main{
   background-color: 			transparent;
   margin: 0 !important;
   height: 5rem;
   
}

.container-fluid {
  height: 50px !important;
 
  
}
.nav-link{
  color:black;
  padding: 1rem;
  margin-left: 1.5rem;
  font-size: large;
}

.nav-link:hover{
  color: #e8915e;
  transform: scale(1.1);
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-text:hover{
  color: #ffac1c;
}

/* Dropdown button */
.dropdown button {
  background-color:#ffac1c;
  border-radius: 1rem;
  color:white;
  padding: 8px 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color:white;
  min-width: 160px;
  z-index: 1;
  border-radius: 0.8rem;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 0.8rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover button {background-color:#f28c28;}


.formContainer {
  /* border: 1px solid black; */
  padding: 2rem;
  min-width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
  /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47); */
  min-height: 30rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: -3px 5px 15px rgba(0, 0, 0, 0.47);
}

.btn-addproduct:hover {
  background-color: #ffdb58 !important;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.47);
}

.buttonMain:hover {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.buttonMain {
  position: relative;
  left: calc(50% - 3em);
  top: calc(50% - 2em);

  height: 4em;
  width: 7em;

  transform-origin: 50% 5em;
}

.form-image {
 display: grid;
 grid-template-columns: 50% 50%;
  
}

/* .form-image img {
  min-width: 100px;
  max-width: 700px;
  padding-top: 6rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
} */
